@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jnzx0b');
  src:  url('fonts/icomoon.eot?jnzx0b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jnzx0b') format('truetype'),
    url('fonts/icomoon.woff?jnzx0b') format('woff'),
    url('fonts/icomoon.svg?jnzx0b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-facebook:before {
  content: "\e901";
}
.ico-google:before {
  content: "\e902";
}
.ico-tanukiLogo:before {
  content: "\e900";
}
